antlr4-python3-runtime==4.7.2
cffi==1.15.1
clingo==5.6.2
cycler==0.11.0
fonttools==4.38.0
importlib-metadata==6.0.0
jsonpickle==3.0.1
kiwisolver==1.4.4
lab==7.3
matplotlib==3.5.3
multipledispatch==0.6.0
numpy==1.21.6
packaging==23.0
Pillow==9.4.0
psutil==5.9.4
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
simplejson==3.18.3
six==1.16.0
termcolor==2.2.0
txt2tags==3.8
typing-extensions==4.5.0
zipp==3.15.0
learning/learner/libs/dlplan
learning/learner/libs/tarski
